html
  head
    title  Lab2 
  body
    header
      h1 Личная страница (блог) Захаровой Полины Дмитриевны
      nav
        ul
          li
            big
              p
                a(href='index.html') Главная страница
          big
            li
              p
                a(href='photo.html') Фото
          li
            big
              p
                a(href='rozklad.html') Расписание
    section
      h1 Последние новости
      br
      p
        img(src='https://kor.ill.in.ua/m/610x385/2547705.jpeg' alt='Loading...')
        br
        big
          | 25 сентября 2020
          br
          br
          |    Ученые рассказали, как правильно кормить кошек. Канадские ученые 21 день наблюдали за домашними кошками.
          br
          |    Одной группе животных давали еду один раз в день, другой – четыре.
          br
          a(href='https://korrespondent.net/tech/science/4277733-uchenye-rasskazaly-kak-pravylno-kormyt-koshek' target='_blank') Подробнее..
          br
          br
          img(src='https://kor.ill.in.ua/m/610x385/2545809.jpg' alt='Loading...')
          br
          |    21 сентября 2020
          br
          br
          |    Испанца выселили из квартиры из-за 110 кошек.
          br
          |    Мужчина три года назад завел пару котов, которые начали бесконтрольно приводить потомство.
          br
          a(href='https://korrespondent.net/lifestyle/4275943-yspantsa-vyselyly-yz-kvartyry-yz-za-110-koshek' target='_blank') Подробнее..
          br
          br
          img(src='https://kor.ill.in.ua/m/610x385/2551181.jpg' alt='Loading...')
          br
          |    7 октября 2020
          br
          br
          |    В Англии пропавшего кота нашли спустя шесть лет.
          br
          |    За время отсутствия домашнего питомца, семья дважды переезжала и у них появился еще один ребенок.
          br
          a(href='https://korrespondent.net/lifestyle/4281827-v-anhlyy-propavsheho-kota-nashly-spustia-shest-let' target='_blank') Подробнее..
          br
          br
          img(src='https://kor.ill.in.ua/m/610x385/2554841.jpg' alt='Loading...')
          br
          |    19 октября 2020
          br
          br
          |    Вышел первый фильм ужасов для кошек. Первый фильм ужасов для кошек накануне Хэллоуина появился в интернете.
          br
          |    В анимационной короткометражной ленте показано, как домашнего кота напугал самый обычный огурец.
          br
          a(href='https://korrespondent.net/showbiz/cinema/4285828-vyshel-pervyi-fylm-uzhasov-dlia-koshek' target='_blank') Подробнее..
          br
          br
          img(src='https://kor.ill.in.ua/m/610x385/2551625.jpg' alt='Loading...')
          br
          |    8 октября 2020
          br
          br
          |    Найден способ общения с кошками при помощи глаз.
          br
          |    Ученые обнаружили механизм-аналог человеческой улыбки, который позволяет расположить к себе животное.
          br
          a(href='https://korrespondent.net/tech/science/4282251-naiden-sposob-obschenyia-s-koshkamy-pry-pomoschy-hlaz' target='_blank') Подробнее..
          br
          br
      footer
        p 2020 Лабораторная работа 2
