html
  head
    title  Lab2 
  body
    header
      h1 Личная страница (блог) Захаровой Полины Дмитриевны
      nav
        ul
          li
            big
              p
                a(href='index.html') Главная страница
          big
            li
              p
                a(href='rozklad.html') Расписание
          li
            big
              p
                a(href='news.html') Новости
    section
      h1 Фотоальбом
      br
      p
        a(href='https://bigpicture.ru/wp-content/uploads/2019/12/1080x1080_0xac120003_8752498641576689710-800x420.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/15a8baec127eb6a0895d944470da4b68-full.jpg' alt='Loading...')
        br
        |    Кот 1, 24.8 кб
        br
        br
        a(href='https://cdn2.img.sputnik-ossetia.ru/images/958/50/9585051.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/f5f60b7e92a9d38e26dbc42a3895058f-full.jpg' alt='Loading...')
        br
        |    Кот 2, 106 кб
        br
        br
        a(href='https://i.pinimg.com/originals/f0/95/c5/f095c5d902769b41302b34b4a3c7dc0d.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/84943eba0e8017b420561a39ca1a2743-full.jpg' alt='Loading...')
        br
        |    Кот 3, 103 кб
        br
        br
        a(href='https://ont.by/static/article/big/index/PXYrhbCnpejqmNVF.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/b759b2203146abbf63bcbba2aa04bec1-full.jpg' alt='Loading...')
        br
        |    Кот 4, 40.9 кб
        br
        br
        a(href='https://i.pinimg.com/736x/36/71/15/367115150ae3013954dee14d5e888644.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/b79ad6308449079a31fa1b849de139ac-full.jpg' alt='Loading...')
        br
        |    Кот 5, 79.2 кб
        br
        br
        a(href='https://s3.nat-geo.ru/images/2020/3/31/c383c7d853274bafadd163cfa4678d09.max-2000x1000.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/d4e961181ce4b9debfb569ca1f9427fe-full.jpg' alt='Loading...')
        br
        |    Кот 6, 151 кб
        br
        br
        a(href='https://www.belanta.vet/vet-blog/wp-content/uploads/2019/12/1-6.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/76900c7be976125bff8e9f4c015d3c36-full.jpg' alt='Loading...')
        br
        |    Кот 7, 186 кб
        br
        br
        a(href='https://topspb.tv/768x432/uploaded/news_covers/kott_A377sAu.jpg' target='_blank')
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/d7f9f1a7d44d36f55b041b25a0850812-full.jpg' alt='Loading...')
        br
        |    Кот 8, 24.2 кб
        br
        br
    footer
      p 2020 Лабораторная работа 2
