html
  head
    title  Lab2 
  body
    header
      h1 Личная страница (блог) Захаровой Полины Дмитриевны
      nav
        ul
          li
            big
              p
                a(href='index.html') Главная страница
          big
            li
              p
                a(href='photo.html') Фото
          li
            big
              p
                a(href='news.html') Новости
    section
      h1 Расписание
      table(border='1')
        tbody
          tr
            th
            th Понеділок
            th Вівторок
            th Четвер
            th П'ятниця
            th Субота
          tr
            td(rowspan='2') 8:00
            td(rowspan='2')
            td Архітектура обчислювальних систем
            td(rowspan='2')
            td(rowspan='2') Теорія ймовірності
            td(rowspan='2')
          tr
            td Теорія ймовірності
          tr
            td 9:35
            td Розмаїття світу
            td Основи інтернет технологій
            td Математична логіка
            td Теорія ймовірності
            td Європейські цінності у літературі
          tr
            td 11:25
            td Архітектура обчислювальних систем
            td
            td Математична логіка
            td Алгоритми та структури даних
            td
          tr
            td(rowspan='2') 12:55
            td(rowspan='2')
            td(rowspan='2')
            td Алгоритми та структури даних
            td(rowspan='2')
            td(rowspan='2')
          tr
            td Основи інтернет технологій
      big Список викладачів :
      ul
        li Лісняк Андрій Олександрович
        li Ільющенко Наталія Олександрівна
        li Левчук Сергій Анатолійович
        li Гребенюк Сергій Миколайович
        li Д’яченко Наталія Миколаївна
        li Тодоріко Ольга Олексіївна
        li Тупахіна Олена Володимирівна
        li Винарчук Тетяна Валеріївна
        li Курапов Сергій Всеволодович
    footer
      p 2020 Лабораторная работа 2
